.image-text {
  background-color: $c--bg;
  padding: 100px 200px;
  @include tablet{
    padding: 40px 0;
  }
  &__wrapper {
    @include wrapper;
  }

  &__title{
    padding: 0 0 20px 0;
    text-transform: uppercase;
    color: $c--headline;
    @include tablet {
      padding: 20px 5%;
    }
  }

  &__container{
     flex-wrap: inherit;
     @include desktop-xl{
       margin: unset;
       padding: unset;
     }
     @include tablet {
       padding: 0 5%;
     }
  }
  .image-text__group.no-image{
    width: 100%;
    .image-text__description{
      max-width: none;
    }
  }
  &__group{
    width: 50%;
    padding-left: 20px;
    @include tablet {
      width: 100%;
      padding-left: 0;
    }
  }

  &__download{
    padding-top: 20px;
    img{
      padding-left: 6px;
    }
  }

  &__image {
    width: 50%;
    @include tablet {
      width: 100%;
    }
    img{
      width: 100%;
      padding-top: 20px;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description{
    padding-top: 20px;
    max-width: 590px;
    @include normal_intro_desktop;
    @include text_body;
    p,ul,ol{
      color: $c--text;
      font-family: $font-sans;
      a{
          font-family: $font-sans;
          color: $c--link;
          font-weight: normal;
          text-decoration: underline;
      }
    }
  }
}
